.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;

    width: 80%;
    margin: 20px auto;

}

@media (max-width: 768px) {


    .dashboard-container {
        grid-template-columns: 1fr;

    }
}

.row {
    display: flex;
    gap: 20px;

}

.course-box {
    flex: 1;

    border: 1px solid #ccc;

    padding: 10px;
    background-color: white;
}

.course-heading {
    font-size: 1.2rem;

}

.button {
    background-color: green;

    color: white;

    padding: 2px 2px;
    border: none;

    cursor: pointer;
    transition: background-color 0.3s;

}

.button:hover {
    background-color: black;

}